.stripe {
    width: 7px;
    content: "";
    min-height: 100%;
}

.stripeArt {
    background-color:dodgerblue;
}

.stripeMas {
    background-color:coral;
}

.buttonrow {
    margin: inherit;
}

.cornerLogo {
    max-width: 50px; height: 100%; 
    margin-bottom: auto; margin-top: 5px; margin-right: 5px;
}

.cornerLogo img{
    width: 100%; height:auto; 
    vertical-align:top; 
    border:0;
}

.bkg-wavy {
    background-image:url("../common-img/bkg_wavy.svg");
    background-color: ghostwhite;
}

.pageHeader {
    background-image: linear-gradient(to top, #262626, black);
    
    padding-top: 50px;
    padding-bottom: 30px;
}

.pageFooter {
    background-color: #262626;
    background-image:url("../common-img/diamonds.svg");
    background-size: 300px;
    background-position: bottom;
    padding-top: 50px;
    padding-bottom: 30px;
}

.moreText {
    display: none;
}

.moreBtn:focus, .moreBtn:active {
   box-shadow: none;
}

.mainGameImg {
    width: 100%;
    height:150px;
    text-align: center;
    overflow: hidden;
}

.mainGameImg img{
    object-fit: cover;
    width: 100%;
    height: auto;    
    margin: 0;
}

@media (min-width: 768px) {
    .mainGameImg {
        width:250px;
        height:250px;
        border-radius: 50%;
        margin: 20px;
    }
    .mainGameImg img{
        min-height:100%;
        max-width: 100%;
        width:auto;
    }
}
