.darkBack{
    background-color: #011526;
}

.stripe {
    width: 7px;
    content: "";
    min-height: 100%;
}

.stripeArt {
    background-color:dodgerblue;
}

.stripeMas {
    background-color:coral;
}

.buttonrow {
    margin: inherit;
}

.cornerLogo {
    max-width: 50px; height: 100%; 
    margin-bottom: auto; margin-top: 5px; margin-right: 5px;
}

.cornerLogo img{
    width: 100%; height:auto; 
    vertical-align:top; 
    border:0;
}

.sectionText p{
    font-size: 18px;
    text-align: justify; 
}

.coverImage{
    width:100%;
    height:450px;
    position: relative;
    text-align: center;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-color: #D90754;
    border-bottom-width: 2px;
}

@media (min-width: 768px) {
    .coverImage{
        height:550px;
    }
}

.siteFooter{
    background-color: #011526;
    border-top-style: solid;
    border-top-color: #034873;
    border-top-width: 4px;
}

.siteHeader{
    background-color: #011526;
    border-bottom-style: solid;
    border-bottom-color: #034873;
    border-bottom-width: 4px;
}

.headerLink:link{
    color: #0BB3D9;
    text-decoration: none;
}

.siteHeader a:hover, .siteHeader a:active{
    color: #D90754;
}

.siteHeader a:visited{
    color: #0578A6;
}

.siteHeader a:active{
    color: white;
}

.headerLink {
    margin-left: 15px;
}

.sectionBar {
    width:70px;
    height:10px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #D90754;
}

.highlight-bar{
    margin: 3rem auto 1.5rem auto;
    max-width: 400px;
    padding: 7px;
    background-color: #011526;
    text-align: center;
    text-shadow: 1.5px 1.5px #D90754;
    transform: skew(-20deg);
}

.highlight-bar h3{
    font-variant: small-caps;
    color: white;
    margin: auto;
}

.highlight-image {
    max-height: 450px;
    overflow-y: hidden;
}

.highlight-image-slim {
    max-height: 220px;
    overflow-y: hidden;
}

.coverImage video{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.coverMenu{
    max-width: 650px;
    min-height: 400px;
    background-color: #011526;
    position: relative;
    top: -300px;
    margin: auto;
    margin-bottom: -300px;
    padding-top: 0px;
    text-align: center;
    border-top-color: #D90754;
    border-top-width: 2px;
    border-top-style: solid;
}

.whiteIcon img path{
    fill: #D90754;
}

.coverMenu h1, .coverMenu h6{
    color: white;
}
.coverMenu h5{
    color: #0578A6;
}

.coverMenu .list-group{
    width: 100%;
    margin: 0px;
    padding: 0px;    
}

.coverMenu .list-group .list-group-item{
    width: 20%;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 12px;
    background-color: #011526;
    border-color: #034873;
}

.coverMenu .list-group .list-group-item:hover{
    background-color: #D90754;
    color: #0BB3D9;
}

.list-group-item a{
    text-decoration: none;
    color:white;
}

.coverProfileImg{
    max-width: 120px;
    margin-bottom: -60px;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    transform: translateY(-50%);
    border-bottom-color: #D90754;
    border-bottom-style: solid;
    border-width: 2px;
}

.coverIcon{
    height: 50px;
    width: 50px;
    margin: auto;
}

.coverIcon img path{
    color:"#0BB3D9";
}

.smallIcon{
    height: 25px;
    width: 25px;
}

.coverIcon img, .smallIcon img{
    width: 100%;
    height: auto;
}

.coverMenu ul li{
    font-weight: bold;
    color: white;
}

@media (min-width: 768px) {
    .coverMenu .list-group{
        width: auto;
        margin: 5px;
        padding: 5px;
    }
    .coverMenu .list-group .list-group-item{
        width:auto;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 16px;
    }   
    .coverProfileImg{
        max-width: 180px;
        margin-bottom: -90px;
    }

}

.bkg-wavy {
    background-image:url("../common-img/bkg_wavy.svg");
    background-color: ghostwhite;
    border-top-color: #034873;
    border-top-style: solid;
    border-top-width: 4px;
}

.pageHeader {
    background-image: linear-gradient(to top, #011526, black);
    
    padding: 50px 15px 30px 15px;
}

.resumeHeader{
    background-color: #011526;
    margin: 74px 0px 15px 0px;
    padding: 15px 15px 0px 15px;
    text-align: center;
}

.resumeHeader .row .col-1{
        display: none;
}
@media (min-width: 768px) {
    .resumeHeader{
        margin: 75px 40px 15px 100px;
    }
    .resumeHeader .row .col-1{
        display: block;
    }
}

.resume-circle {
  height: 150px;
  width: 150px;
  background-color: white;
  border: 6px solid #011526;
  border-radius: 50%;
  position: absolute;
  left: -50px;
  top : -35px;
  padding-top: 2.2em;
}

.resume-circle h1{
    position: relative;
    margin: auto;
    color: #011526;
    font-size: 3.2em;
}

.resume-list{
    padding-left: 1em;
}

.resume-list ul li {
    margin-left: auto;
    display: list-item;
    list-style: circle;
}

.resume-bar {
    width:100%;
    height:10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #011526;   
}

.resume-text{
    font-size: 17px;
    text-align: justify; 
}

.resume-text p{
    margin-bottom: 10px;
}

.resume-text h4{
    margin-top: 0px;
    margin-bottom: 0px;
}

.resume-text h3{
    margin-bottom: 6px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 5px;
  background-color: #011526;
  border-radius: 50%;
  display: inline-block;
}

@media (min-width: 768px){
    .dot {
        margin: 5px 10px 5px 10px;
    }
}

@media (min-width: 992px) {
    .dot {
        margin: 5px 20px 5px 20px;
    }
}

.resume-link a img{
    width: 45px;
}

.resume-link a h4{
    color: black;
    font-size: 1em;
}

.pageFooter {
    background-color: #262626;
    background-image:url("../common-img/diamonds.svg");
    background-size: 300px;
    background-position: bottom;
    padding-top: 50px;
    padding-bottom: 30px;
}

.moreText {
    display: none;
}

.mediaBtn{
    border: none;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    background: none;
    color: none;
    cursor: pointer;
}

.mainGameImg .mediaBtn {
    width: 100%;
    height: 100%;
}

.moreBtn:focus, .moreBtn:active, .mediaBtn:focus, .mediaBtn:active {
   box-shadow: none;
}

.mainGameImg {
    width: 100%;
    height:150px;
    text-align: center;
    overflow: hidden;
}

.mainContent{
    width: 100%;
    overflow: hidden;
}

.mainGameImg button img, .mediaCircle img{
    object-fit: cover;
    min-width: 100%;
    max-width: 100%;
    min-height:100%;
    margin: 0;
}

.mediaCircle{
    border-radius: 50%;
    width:100px;
    height:100px;
    text-align: center;
    overflow: hidden;
    margin: 10px;
}

.mediaCircle, .youtubeEmbed{
    box-shadow: 1px 1px 6px 1px silver;
}

.mediaRow{
    padding-left: 5px;
    padding-right: 5px;
    height: max-content;
    width: max-content;
}

@media (min-width: 768px) {
    .mainGameImg {
        width:250px;
        height:250px;
        border-radius: 50%;
        margin: 20px;
        border-style: solid;
        border-width: 6px;
        border-color: white;
        box-shadow: 4px 6px 12px 0px #999999;
    }
    .mainContent{
        width: calc(100% - 290px);
    }
    .mainGameImg button img{
        min-height:100%;
        max-width: 100%;
        width:auto;
    }
    .mediaCircle{
        width:120px;
        height:120px;
        border-radius: 0%;
    }
}

.modal-content{
    background: rgba(0, 0, 0, 0.7);
}

.modal-header{
    background: white;
}

.carMedia {
    display: block;
    min-width: 30vw;
    max-width: 100%;
    min-height: 30vh;
    max-height: 80vh;
    height: auto;
    margin: auto;
}

.youtubeEmbed{
    min-width: 80%;
    max-width: 400px;
    height: calc(width * 0.75);
}

.badge-author{
    background-color: #778899;
}

/* ---------------------------------
CONTACT FORM
--------------------------------- */

form {
    padding: 10px;
}

form .inputSmall{
    margin-right: 5px;
    margin-left: 5px;
    width: 100%;
}

@media (min-width: 768px) {
    form .inputSmall{
        width: calc(50% - 10px);
    }
}

form input, .content form textarea {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

form textarea {
    padding: 15px;
    min-height: 220px;
    border-radius: 6px;
}

form input[type='submit'] { 
    padding: 15px 30px; border-radius: 6px; float: right; margin-top: 15px;
	box-shadow: inset 0 0px 4px rgba(0,0,0,.3); background: #0BB3D9; color: white; 
	-webkit-transition: all .2s ease; transition: all .2s ease; cursor: pointer;
    margin-right: 0f; margin-left: auto;
}

form input[type='submit']:hover{
    background:#D90754;
}